<!doctype html>
{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<div class="flex flex-col h-96 items-center">
    <h1 class="text-xl mt-8 mb-2">Users</h1>
    {% if session.user_id %}
    <div class="flex flex-col ">
        {%for user in users%}
            <div class="bg-slate-200 flex items-center justify-center border-solid border-2 h-8 shadow-md m-1 p-2">
                <div class="">
                    <b>{{ user[1] }}</b> User type: {{ user[2] }} Created: {{ user[4].strftime("%d-%m-%Y") }}
                    <a href={{url_for("user_settings", user_id=user[0])}} class="text-blue-500 border-solid rounded-sm">Settings</a>
                </div>
            </div>
        {% endfor %}   
    </div>
</div>
{% else %}
<div>
    <b>Log in to see content</b>
</div>
{% endif %}
{% endblock %}