<!doctype html>
<title>Hackerfeed - {% block title %}{% endblock %}</title>
<h1>Hackerfeed</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if session.user_id %}
  <a href="/dashboard">Dashboard</a> | <a href="/logout">Log out</a>
  {% else %}
  <a href="/login">Log in</a>
{% endif %}
<hr>
{% block content %}{% endblock %}
<hr>
{%if session.user_id%}
<p>Logged in as <b>User</b> //TODO place username here</p>
{% endif %}