<!doctype html>
{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="h-96 flex flex-col items-center justify-center pt-4 pb-6">
    <form class="border-solid bg-slate-200 border-collapse shadow-md mb-4 mt-2" action="/register" method="post">
        <div class="h-full w-full px-4 py-4">
            <div class="flex flex-col m-1">
                <label for="uname">Username </label>
                <input type="text" id="uname" name="username" min="4" minlength="5" maxlength="20" required>
            </div>
            <div class="flex flex-col m-1">
                <label for="passwd">Password </label> 
                <input type="password" id="passwd" name="password" minlength="5" maxlength="25" required>
            </div>
            <div class="flex flex-col m-1">
                <label for="passwd2">Password again</label> 
                <input type="password" id="passwd2" name="password2" minlength="5" maxlength="25" required>
            </div>
            <div class="flex items-center justify-center mt-4">
                <button class="bg-amber-500 text-slate-100 rounded-sm shadow-md pl-2 pr-2 pt-1 pb-1 m-1" type="submit">Register</button>
            </div>
       
    </form>
</div>
{% endblock %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}