<!doctype html>
{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<div class="flex flex-col h-96 items-center">
    <h1 class="text-xl mt-8 mb-2">User Settings</h1>
    {% if session.user_id %}
    <div class="w-1/5 border-solid bg-slate-200 border-collapse shadow-md mb-4 mt-2">
        <div class="flex flex-col items-center m-1">
            <div class="p-2">
                <div><b>Username:</b> {{ user[1] }}</div>
                <div><b>User type:</b> {{ user[3] }}</div>
                <div><b>Created:</b> {{ user[4].strftime("%d-%m-%Y") }}</div>
            </div>
           <form action="/user/modify" method="post">
            <div class="flex flex-col justify-center items-center my-4">
                <label for="roles"><b>Modify role</b></label>
                <select name="role" class="mt-2 mb-4" id="role">
                    <option value={{ option1[0]}}>{{ option1[1] }}</option>
                    <option value={{ option2[0] }}>{{ option2[1] }}</option>
                </select>
                <input type="hidden" name="user_id" value={{ user[0] }}>
                <button type="submit" class="bg-amber-500 rounded-sm shadow-md pl-2 pr-2 pt-1 pb-1 m-1">Submit</button>
            </div>
           </form>
           <a class="text-red-500" href={{url_for("delete_user", user_id=user[0])}}><button>Delete user</button></a>
        </div>
    </div>
</div>
{% else %}
<div>
    <b>Log in to see content</b>
</div>
{% endif %}
{% endblock %}